Repository nori-dongsan/nori-client, pull requests merged in 2022-07, with the labels that each got.

#11 [ Intro ] 로그인 관련 기능
  .gitignore
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/api/auth/[...nextauth].ts
  pages/index.tsx
  pages/login.tsx
  pages/main.tsx
  pages/naver.tsx
  public/assets/icons/index.ts
  public/assets/icons/kakaoIcon.svg
  public/assets/images/googleLogo.png
  public/assets/images/index.ts
  public/assets/images/kakaoLogo.png
  public/assets/images/naverLogo.png
  types/api.ts
  yarn.lock
Labels: ✨ Intro

#6 [ Main ] 상품 노출 미리보기 컴포넌트 만들기
  .gitignore
  components/common/ToyList.tsx
  components/common/ToyPreview.tsx
  components/common/index.ts
  components/main/MainBanner.tsx
  components/viewProduct/ToyViewBanner.tsx
  components/viewProduct/index.ts
  pages/main.tsx
  pages/viewProduct.tsx
  public/assets/icons/fillToyMark.svg
  public/assets/icons/index.ts
  public/assets/icons/mainBannerIc.svg
  public/assets/icons/toyMark.svg
Labels: 🖥 Main, 🧸 ViewProduct

#9 [ ViewProduct ] 필터 component 레이아웃 작업
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ViewProductBanner.tsx
  pages/viewProduct.tsx
  public/assets/icons/IcPlus.svg
  public/assets/icons/index.ts
Labels: 🧸 ViewProduct

#14 [ feat ] Header 컴포넌트 구현
  .gitignore
  components/common/Header.tsx
  pages/main.tsx
  public/assets/icons/index.ts
  public/assets/icons/noriHeaderIcon.svg
  public/assets/icons/noriLogoIcon.svg
  public/assets/icons/searchIcon.svg
  styles/emotion.d.ts
  styles/theme.ts
Labels: 👤Header

#31 [ ViewProduct ] 상품보기 페이지 배너 구현
  components/common/Header.tsx
  components/common/index.ts
  components/landing/LandingHeader.tsx
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ToyViewBanner.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  pages/_app.tsx
  pages/main.tsx
  public/assets/icons/IcCheckbox.svg
  public/assets/icons/IcClose.svg
  public/assets/icons/IcOpen.svg
  public/assets/icons/IcPlus.svg
  public/assets/icons/IcViewProductIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/noriHeaderIcon.svg
  public/assets/icons/noriLogoIcon.svg
  public/assets/icons/searchIcon.svg
  yarn.lock
Labels: 🧸 ViewProduct

#21 [ CommunityForm ] 글쓰기 페이지 레이아웃 구현
  components/common/Header.tsx
  pages/write.tsx
  public/assets/icons/defaultImgIcon.svg
  public/assets/icons/deleteIcon.svg
  public/assets/icons/dropDownIcon.svg
  public/assets/icons/index.ts
Labels: 💬 Community

#30 [ Main ] 이번주 인기 장난감
  components/common/Header.tsx
  components/common/ToyList.tsx
  components/common/ToyPreview.tsx
  components/main/BottomBanner.tsx
  components/main/CollectionCard.tsx
  components/main/MiddleBanner.tsx
  components/main/index.ts
  pages/collectionProduct.tsx
  pages/main.tsx
  public/assets/icons/index.ts
  public/assets/icons/kitchenPlayIcon.svg
  public/assets/icons/multiToyIcon.svg
  public/assets/icons/walkingMachineIcon.svg
Labels: 🖥 Main

#35 [ CommunityForm ] 커뮤니티 글 상세 기본 구조 구현하기
  pages/[cid].tsx
  public/assets/icons/commentIcon.svg
  public/assets/icons/heartIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/menuIcon.svg
Labels: 💬 Community

#36 [ Collection Product ] 테마별 노리 잇템
  components/collectionProduct/PageNavigation.tsx
  components/collectionProduct/PriceFilter.tsx
  components/collectionProduct/index.ts
  components/common/Header.tsx
  components/common/ToyList.tsx
  components/common/ToyPreview.tsx
  components/main/BottomBanner.tsx
  components/main/CollectionCard.tsx
  components/main/MiddleBanner.tsx
  components/main/index.ts
  core/api.ts
  core/api/toy.ts
  core/axios.ts
  mocks/handlers/toy.ts
  package.json
  pages/_app.tsx
  pages/collectionProduct.tsx
  pages/main.tsx
  public/assets/icons/index.ts
  public/assets/icons/kitchenPlayIcon.svg
  public/assets/icons/leftArrow.svg
  public/assets/icons/leftArrowFill.svg
  public/assets/icons/multiToyIcon.svg
  public/assets/icons/rightArrow.svg
  public/assets/icons/rightArrowFill.svg
  public/assets/icons/walkingMachineIcon.svg
  public/mockServiceWorker.js
  yarn.lock
Labels: 📚 Collection Product

#39 [ View product ] 상품보기 페이지 레이아웃 잡기
  README.md
  components/common/Header.tsx
  components/common/ToyList.tsx
  components/common/ToyPreview.tsx
  components/viewProduct/ViewProductBanner.tsx
  mocks/browers.ts
  mocks/data/communityMockData.ts
  mocks/data/toyMockData.ts
  mocks/data/userMockData.ts
  mocks/handlers/community.ts
  mocks/handlers/index.ts
  mocks/handlers/toy.ts
  mocks/handlers/user.ts
  mocks/index.ts
  mocks/server.ts
  package.json
  pages/_app.tsx
  pages/main.tsx
  pages/naver.tsx
  pages/viewProduct.tsx
  public/assets/icons/IcPriceLine.svg
  public/assets/icons/index.ts
  public/assets/icons/noriLogoIcon.svg
  public/mockServiceWorker.js
  types/api.ts
  types/community.ts
  types/toy.ts
  types/user.ts
  yarn.lock
Labels: 🧸 ViewProduct

#57 [ ViewProduct ] 필터 디테일 조정 및 애니메이션
  components/common/Header.tsx
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  pages/viewProduct.tsx
  public/assets/icons/IcPriceLine.svg
Labels: 🧸 ViewProduct

#72 [ ViewProduct ] 필터 디테일 조정 - 2
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ViewProductBanner.tsx
  types/viewProduct.ts
Labels: 🧸 ViewProduct

#53 [ ViewProduct ] 상품보기 페이지 레이아웃 디테일 조정
  components/common/ToyPreview.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ToyList.tsx
  components/viewProduct/ToyPreview.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  pages/viewProduct.tsx
Labels: 🧸 ViewProduct

#49 [ CommunityForm ] 글쓰기 확정된 gui 적용 및 추가된 디자인 시스템 추가
  components/common/Footer.tsx
  pages/write.tsx
  public/assets/icons/CommentIcon.svg
  public/assets/icons/commentIcon.svg
  public/assets/icons/defaultImgIcon.svg
  public/assets/icons/deleteIcon.svg
  public/assets/icons/dropDownIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/replyIcon.svg
  styles/emotion.d.ts
  styles/theme.ts
  types/community.ts
Labels: 💬 Community

#61 [ CommunityForm ] 글 상세보기 부분 확정된 gui 적용하기
  components/common/Header.tsx
  components/community/ContentsCard.tsx
  components/community/DetailFloatingBtn.tsx
  components/community/Reply.tsx
  components/community/ReplyContent.tsx
  pages/community/[cid].tsx
  public/assets/icons/expandImgIcon.svg
  public/assets/icons/heartBtnIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/menuIcon.svg
  public/assets/icons/replyBtnIcon.svg
  public/assets/icons/replyIcon.svg
  public/assets/icons/topBtnIcon.svg
  public/assets/icons/writerIcon.svg
  styles/emotion.d.ts
  styles/theme.ts
Labels: 💬 Community

#46 [ Intro ] 로그인 및 회원가입 + 토큰 과정
  core/api.ts
  core/api/user.ts
  core/axios.ts
  core/localStorage.ts
  mocks/data/userMockData.ts
  mocks/handlers/user.ts
  pages/login.tsx
  pages/signup.tsx
  public/assets/icons/IcCheckboxUnselected.svg
  public/assets/icons/index.ts
  public/assets/icons/loginLineIc.svg
  types/user.ts
Labels: ✨ Intro

#52 [ Collection Product ] 페이지네이션 라이브러리 만들기
  components/collectionProduct/CollectionList.tsx
  components/collectionProduct/PageNavigation.tsx
  components/collectionProduct/PriceFilter.tsx
  components/collectionProduct/ToyPreview.tsx
  components/collectionProduct/index.ts
  core/api/toy.ts
  pages/collectionProduct.tsx
  public/mockServiceWorker.js
  types/toy.ts
Labels: 📚 Collection Product

#64 [ ViewProduct ] 스켈레톤
  components/common/styled/animation.ts
  components/landing/LandingFooter.tsx
  components/landing/LandingHeader.tsx
  components/landing/index.ts
  components/landing/viewProduct/LandingPriceSort.tsx
  components/landing/viewProduct/LandingProductFilter.tsx
  components/landing/viewProduct/LandingToyList.tsx
  components/landing/viewProduct/LandingToyPreview.tsx
  components/landing/viewProduct/LandingViewProductBanner.tsx
  components/landing/viewProduct/index.ts
  components/layout/MainLayout.tsx
  components/layout/index.ts
  pages/viewProduct.tsx
Labels: 🧸 ViewProduct

#67 [ Community ] 커뮤니티 리스트 스켈레톤
  components/common/styled/animation.ts
  components/community/CommunityList.tsx
  components/community/ContentsCard.tsx
  components/landing/LandingFooter.tsx
  components/landing/LandingHeader.tsx
  components/landing/community/LandingCommunityList.tsx
  components/landing/community/LandingContentCard.tsx
  components/landing/community/LandingTitle.tsx
  components/landing/community/index.ts
  components/landing/index.ts
  mocks/handlers/toy.ts
  pages/community/index.tsx
Labels: 💬 Community

#70 [ CommunityForm ] 커뮤니티 리스트 GUI 디자인 적용하기
  components/common/Header.tsx
  components/community/CommunityFloatingBtn.tsx
  components/community/CommunityList.tsx
  components/community/ContentsCard.tsx
  components/community/index.ts
  public/assets/icons/CommunitySearchIcon.svg
  public/assets/icons/dotIcon.svg
  public/assets/icons/heartIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/replyIcon.svg
  public/assets/icons/writeBtnIcon.svg
Labels: 💬 Community

#55 [ Footer ] 변경된 로고 및 마진 값 변경
  components/common/Footer.tsx
  public/assets/icons/noriFooterIcon.svg
Labels: 🦶Footer

#91 [ CommunityForm ] 댓글 컴포넌트 GUI 대로 수정
  components/community/Reply.tsx
  components/community/ReplyContent.tsx
  styles/emotion.d.ts
  styles/theme.ts
  types/community.ts
Labels: 💬 Community

#93 [ Collection Product ] GUI 반영하기
  components/collectionProduct/CollectionList.tsx
  components/collectionProduct/PageNavigation.tsx
  components/collectionProduct/PriceFilter.tsx
  components/collectionProduct/ToyPreview.tsx
  components/landing/collectionProduct.tsx/LandingPriceSort.tsx
  core/api/toy.ts
  mocks/data/toyMockData.ts
  mocks/handlers/toy.ts
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/collectionProduct.tsx
  pages/login.tsx
  types/toy.ts
Labels: 📚 Collection Product

#88 [ ViewProduct ] 탑버튼 추가 및 선택시 변경되는 스타일 적용
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/TopFloatingBtn.tsx
  components/viewProduct/ToyList.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  pages/viewProduct.tsx
  types/viewProduct.ts
Labels: 🧸 ViewProduct

#104 [ Intro ] 로그인 회원가입 모두 구현 완료
  core/api/user.ts
  core/atom.ts
  core/localStorage.ts
  mocks/data/userMockData.ts
  mocks/handlers/user.ts
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/collectionProduct.tsx
  pages/index.tsx
  pages/login.tsx
  pages/main.tsx
  pages/signup.tsx
  public/mockServiceWorker.js
  types/environment.d.ts
  types/next-auth.d.ts
  types/user.ts
  utils/check.ts
Labels: ✨ Intro

#103 [ CommunityForm ] 커뮤니티 글 수정 페이지 기능 구현
  pages/community/[cid].tsx
  pages/write/[cid].tsx
  pages/write/index.tsx
  types/community.ts
Labels: 💬 Community

#109 [ style ] 내 댓글일 때 바뀌는 GUI 디테일 구현
  components/community/ReplyContent.tsx
  public/assets/icons/index.ts
  public/assets/icons/replyWriterIcon.svg
Labels: 💬 Community

#110 Main page/#106
  components/main/CollectionCard.tsx
  components/main/ToyPreview.tsx
  pages/index.tsx
  public/assets/icons/card_collection_1_walk.svg
  public/assets/icons/card_collection_2_people.svg
  public/assets/icons/card_collection_2_playground.svg
  public/assets/icons/index.ts
  types/environment.d 2.ts
  types/next-auth.d 2.ts
Labels: 🖥 Main

#115 [ View Product ] 페이지네이션 및 가격 정렬 구현
  components/collectionProduct/CollectionList.tsx
  components/collectionProduct/ToyPreview.tsx
  components/common/Header.tsx
  components/common/PageNavigation.tsx
  components/common/PriceFilter.tsx
  components/common/WriteHeader.tsx
  components/common/index.ts
  components/community/CommunityCategory.tsx
  components/community/CommunityFloatingBtn.tsx
  components/community/CommunityList.tsx
  components/community/ContentsCard.tsx
  components/community/DetailFloatingBtn.tsx
  components/community/ReplyContent.tsx
  components/main/BottomBanner.tsx
  components/main/CollectionCard.tsx
  components/main/MiddleBanner.tsx
  components/main/ToyList.tsx
  components/main/ToyPreview.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ToyList.tsx
  components/viewProduct/ToyPreview.tsx
  core/api.ts
  core/api/community.ts
  core/api/user.ts
  core/api/viewProduct.ts
  core/atom.ts
  core/localStorage.ts
  mocks/data/communityMockData.ts
  mocks/data/toyMockData.ts
  mocks/data/userMockData.ts
  mocks/handlers/community.ts
  mocks/handlers/user.ts
  next.config.js
  package-lock.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/collectionProduct.tsx
  pages/community/[cid].tsx
  pages/community/index.tsx
  pages/index.tsx
  pages/login.tsx
  pages/main.tsx
  pages/signup.tsx
  pages/viewProduct.tsx
  pages/write/[cid].tsx
  pages/write/index.tsx
  public/assets/icons/card_collection_1_walk.svg
  public/assets/icons/card_collection_2_people.svg
  public/assets/icons/card_collection_2_playground.svg
  public/assets/icons/index.ts
  public/assets/icons/replyWriterIcon.svg
  types/community.ts
  types/environment.d.ts
  types/next-auth.d.ts
  types/user.ts
  types/viewProduct.ts
  utils/check.ts
  yarn.lock
Labels: 🧸 ViewProduct, ❕Review

#118 [ ViewProduct ] 아이콘 클릭시 해당 요소만 활성화
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/FilterTag.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ViewProductBanner.tsx
  core/atom.ts
  public/assets/icons/ic_all_product.svg
  public/assets/icons/ic_baby_product.svg
  public/assets/icons/ic_car_product.svg
  public/assets/icons/ic_playground_product.svg
  public/assets/icons/ic_role_product.svg
  public/assets/icons/ic_study_product.svg
  public/assets/icons/ic_walk_product.svg
  public/assets/icons/index.ts
  utils/handleCheckedItems.ts
Labels: 🧸 ViewProduct, ❕Review

#120 [ ViewProduct ] 아이콘 바 눌렀을 때 초기화
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/FilterTag.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ViewProductBanner.tsx
Labels: 🧸 ViewProduct, ❕Review

#123 [ ViewProduct ] empty 뷰 작업
  pages/viewProduct.tsx
  public/assets/icons/ic_character_gray_empty_typo.svg
  public/assets/icons/index.ts
Labels: 🧸 ViewProduct, ❕Review

#127 [ ViewProduct ] 필터 오류 수정
  components/viewProduct/ProductFilter.tsx
  pages/viewProduct.tsx
Labels: 🧸 ViewProduct, ❕Review

#128 [ Main ] 메인 API 연결
  components/collectionProduct/CollectionList.tsx
  components/landing/main/LandingBottomBanner.tsx
  components/landing/main/LandingCollectionCard.tsx
  components/landing/main/LandingConceptTitle.tsx
  components/landing/main/LandingMainBanner.tsx
  components/landing/main/LandingMiddleBanner.tsx
  components/landing/main/LandingToyList.tsx
  components/landing/main/LandingToyPreview.tsx
  components/landing/main/index.ts
  components/main/MainBanner.tsx
  components/main/MiddleBanner.tsx
  components/main/ToyList.tsx
  components/main/ToyPreview.tsx
  core/api/toy.ts
  core/api/user.ts
  pages/collectionProduct.tsx
  pages/index.tsx
  pages/login.tsx
  public/assets/icons/IcMainBanner.svg
  public/assets/icons/index.ts
  types/toy.ts
Labels: 🖥 Main, ❕Review

#129 Feature view product
  components/collectionProduct/CollectionList.tsx
  components/common/PriceFilter.tsx
  components/common/index.ts
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/FilterTag.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/TagSection.tsx
  components/viewProduct/ToyList.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  core/api/viewProduct.ts
  core/atom.ts
  mocks/data/toyMockData.ts
  pages/collectionProduct.tsx
  pages/viewProduct.tsx
  public/assets/icons/delete_circle.svg
  public/assets/icons/ic_all_product.svg
  public/assets/icons/ic_baby_product.svg
  public/assets/icons/ic_car_product.svg
  public/assets/icons/ic_character_gray_empty_typo.svg
  public/assets/icons/ic_playground_product.svg
  public/assets/icons/ic_role_product.svg
  public/assets/icons/ic_study_product.svg
  public/assets/icons/ic_updo_gray006.svg
  public/assets/icons/ic_walk_product.svg
  public/assets/icons/index.ts
  types/viewProduct.ts
Labels: 🧸 ViewProduct

#117 [ CommunityForm ] 커뮤니티 수정 페이지 헤더 반영 및 mocking 작업
  components/collectionProduct/CollectionList.tsx
  components/collectionProduct/index.ts
  components/common/Header.tsx
  components/common/PriceFilter.tsx
  components/common/WriteHeader.tsx
  components/common/index.ts
  components/community/CommunityFloatingBtn.tsx
  components/community/ReplyList.tsx
  components/landing/main/LandingBottomBanner.tsx
  components/landing/main/LandingCollectionCard.tsx
  components/landing/main/LandingConceptTitle.tsx
  components/landing/main/LandingMainBanner.tsx
  components/landing/main/LandingMiddleBanner.tsx
  components/landing/main/LandingToyList.tsx
  components/landing/main/LandingToyPreview.tsx
  components/landing/main/index.ts
  components/main/MainBanner.tsx
  components/main/MiddleBanner.tsx
  components/main/ToyList.tsx
  components/main/ToyPreview.tsx
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/FilterTag.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/TagSection.tsx
  components/viewProduct/ToyList.tsx
  components/viewProduct/ViewProductBanner.tsx
  components/viewProduct/index.ts
  core/api/community.ts
  core/api/toy.ts
  core/api/user.ts
  core/api/viewProduct.ts
  core/atom.ts
  mocks/data/toyMockData.ts
  mocks/handlers/community.ts
  pages/_app.tsx
  pages/collectionProduct.tsx
  pages/community/index.tsx
  pages/index.tsx
  pages/login.tsx
  pages/viewProduct.tsx
  pages/write/[cid].tsx
  public/assets/icons/IcMainBanner.svg
  public/assets/icons/delete_circle.svg
  public/assets/icons/ic_all_product.svg
  public/assets/icons/ic_baby_product.svg
  public/assets/icons/ic_car_product.svg
  public/assets/icons/ic_character_gray_empty_typo.svg
  public/assets/icons/ic_playground_product.svg
  public/assets/icons/ic_role_product.svg
  public/assets/icons/ic_study_product.svg
  public/assets/icons/ic_updo_gray006.svg
  public/assets/icons/ic_walk_product.svg
  public/assets/icons/index.ts
  types/community.ts
  types/toy.ts
  types/viewProduct.ts
Labels: 💬 Community, ❕Review

#135 [ CommunityForm ] 커뮤니티 리스트 API 연결
  components/collectionProduct/CollectionList.tsx
  components/community/ContentCard.tsx
  pages/community/index.tsx
Labels: 💬 Community, ❕Review

#140 [ ViewProduct ] 필터 섹션 애니메이션
  community.ts
  components/collectionProduct/CollectionList.tsx
  components/landing/main/LandingFooter.tsx
  components/landing/main/LandingHeader.tsx
  components/landing/main/index.ts
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  pages/index.tsx
  types/viewProduct.ts
Labels: 🧸 ViewProduct, ❕Review

#141 Feature view product
  community.ts
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  types/viewProduct.ts
Labels: 🧸 ViewProduct, ❕Review

#143 [ ViewProduct ] 드롭다운 섹션 순서 변경
  components/common/Header.tsx
  components/common/WriteHeader.tsx
  components/community/CommunityFloatingBtn.tsx
  components/main/ToyPreview.tsx
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  core/api/community.ts
  core/api/user.ts
  core/atom.ts
  core/axios.ts
  core/localStorage.ts
  mocks/handlers/community.ts
  pages/_app.tsx
  pages/community/index.tsx
  pages/login.tsx
  pages/signup.tsx
  pages/write/[cid].tsx
  types/community.ts
  types/user.ts
  utils/check.ts
Labels: 🧸 ViewProduct, ❕Review

#145 [ CommunityForm ] 커뮤니티 글 삭제 api 연결
  components/community/ContentCard.tsx
  components/community/ReplyList.tsx
  core/axios.ts
  pages/community/[cid].tsx
  pages/community/index.tsx
Labels: 💬 Community, ❕Review

#148 [ CommunityForm ] 커뮤니티 글 작성 api 연결
  components/common/WriteHeader.tsx
  components/community/ContentCard.tsx
  core/api/community.ts
  core/axios.ts
  pages/community/[cid].tsx
  pages/write/index.tsx
  types/community.ts
Labels: 💬 Community, ❕Review

#149 [ CommunityForm ] 댓글 POST 연결
  components/community/ContentCard.tsx
  components/community/ReplyContent.tsx
  components/community/ReplyList.tsx
  core/api/community.ts
  types/community.ts
Labels: 💬 Community, ❕Review

#153 [ ViewProduct ] 상품보기 페이지 api 연결
  components/common/Header.tsx
  components/viewProduct/FilterDropdown.tsx
  components/viewProduct/ProductFilter.tsx
  components/viewProduct/ToyPreview.tsx
  components/viewProduct/ViewProductBanner.tsx
  core/api/viewProduct.ts
  core/atom.ts
  core/axios.ts
  pages/viewProduct.tsx
  types/viewProduct.ts
Labels: 🧸 ViewProduct, ❕Review
